<!DOCTYPE html>
<html>
<head lang="zh">
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <link href="http://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <!--要这干嘛，不需要。。<script src="http://libs.baidu.com/jqueryui/1.8.22/jquery-ui.min.js "></script>-->
    <script src="http://apps.bdimg.com/libs/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/iconfont.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link href="/static/css/btn_define.css" rel="stylesheet"/>
    <title>{% block title %}武汉晚报遇见{% endblock %}</title>
    <style></style>
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>