.footer{
	position:fixed;
	bottom:0rem;
	width:100%;
	text-align:center;
	background-color:#fc6ea2;
	height:4.5rem;
	padding:0 0 20px 0;

}
.ib{
    display:inline-block;
	width:23%;
	background-color:rgba(55,55,55,0);
	color:white;
	z-index:99;
	outline:none;
	height:4.5rem;
	font-size:10px;
	padding:0 0 20px 0;
}
.nav_word{
    line-height:0px;
}
